# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build
.turbo
generated

# Caches
.cache
.parcel-cache
.eslintcache

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock

# Generated
.contentlayer
.vercel
.env*.local

# Misc
coverage
*.log